body{
    display: grid;
    grid-template-areas: 'nav'
                         'banner'
                         'main'
                         'section'
                         'footer';
    grid-template-columns: 100vw;
    margin: 0;                     

}
header{
    background-image: url(../images/lanche.png);
    background-size: cover;
    grid-area: banner;
    height: 200px;
}
main{
    background-color: blueviolet;
    grid-area: main;

}
nav{
    align-items: center;
    background-color: #38b9c0;
    display: flex;
    grid-area: nav;
    height: 45px;
    justify-content: space-between;
    padding: 0 10px;
}
nav div{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}
nav div span{
    background-color:rgb(202, 8, 8);
    height: 3px;
    width: 30px;
}
nav img{
    width: 35px;
}